@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "DM Sans", sans-serif;
}

/* For Webkit browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 3px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #f9f9f9; /* Background of the scrollbar track */
  border-radius: 10px; /* Round edges */
}

::-webkit-scrollbar-thumb {
  background: #b5b5b5; /* Color of the scrollbar thumb */
  border-radius: 10px; /* Round edges */
}

::-webkit-scrollbar-thumb:hover {
  background: #afafaf; /* Color of the scrollbar thumb on hover */
}
